# Pandas

## Task 1

You should import the necessary libraries. You will use `numpy` and `pandas` libraries.


> Don't forget to import `numpy`, and `pandas` in short form.

In [32]:
from datetime import datetime

import numpy as np
import pandas as pd

## Task 2

Create a `DataFrame` from the given dictionary `data`.

In [33]:
import pandas as pd

data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

df = pd.DataFrame(data)
print(df)

    Name  Age         City
0   John   16     New York
1  Emily   28  Los Angeles
2   Ryan   22      Chicago

## Task 3

In this task you should complete the following steps:

### Task 3.1
Display all data for `Age` column for the DataFrame you created in the previous task.

In [34]:
age = df["Age"]
print(age)

0    16
1    28
2    22
Name: Age, dtype: int64

### Task 3.2

Add `Salary` column to the `DataFrame` with the values `[50000, 60000, 45000]`.

In [35]:
df["Salary"] = ["50000", "60000", "45000"]
print(df)

    Name  Age         City Salary
0   John   16     New York  50000
1  Emily   28  Los Angeles  60000
2   Ryan   22      Chicago  45000

### Task 3.3

Filter the `DataFrame` to show only the rows with the `Age` greater than 18.

In [36]:
filtered_df = df[df["Age"] > 18]
print(filtered_df)

    Name  Age         City Salary
1  Emily   28  Los Angeles  60000
2   Ryan   22      Chicago  45000

## Task 4

In this task you should complete the following steps:

### Task 4.1

Add new calculated field `Birth year`;

In [37]:
from datetime import datetime

current_year = datetime.now().year
df["Birth_year"] = current_year - df["Age"]
print(df["Birth_year"])

0    2008
1    1996
2    2002
Name: Birth_year, dtype: int64

### Task 4.2

Add new calculated field `Average age`.

In [38]:
average_age = int(df["Age"].mean())
df["average_age"] = average_age
print(df)

    Name  Age         City Salary  Birth_year  average_age
0   John   16     New York  50000        2008           22
1  Emily   28  Los Angeles  60000        1996           22
2   Ryan   22      Chicago  45000        2002           22

### Task 4.3

Calculate absolute difference between `Age` and `Average age`.

In [39]:
df["abs_diff"] = (df["Age"] - df["average_age"]).abs()
print(df)

    Name  Age         City Salary  Birth_year  average_age  abs_diff
0   John   16     New York  50000        2008           22         6
1  Emily   28  Los Angeles  60000        1996           22         6
2   Ryan   22      Chicago  45000        2002           22         0

## Task 5

Complete the following tasks described below.

### Task 5.1

You have two dictionaries `data1` and `data2`. Create two `DataFrame` objects from these dictionaries. Then, `concatenate`, and `merge` these two `DataFrame` objects into one `DataFrame` object, and see the difference.

In [40]:
data1 = {'Name': ['John', 'Emily', 'Ryan'],
         'Age': [25, 28, 22]}
data2 = {'Name': ['Emily', 'Ryan', 'Mike'],
         'City': ['Los Angeles', 'Chicago', 'Houston']}

first_df = pd.DataFrame(data1)
second_df = pd.DataFrame(data2)
print(first_df, second_df)

    Name  Age
0   John   25
1  Emily   28
2   Ryan   22     Name         City
0  Emily  Los Angeles
1   Ryan      Chicago
2   Mike      Houston

In [41]:
merged_df = pd.merge(first_df, second_df, how="inner")
print(merged_df)

    Name  Age         City
0  Emily   28  Los Angeles
1   Ryan   22      Chicago

In [42]:
concatenated_df = pd.concat([first_df, second_df], ignore_index=True)
print(concatenated_df)

    Name   Age         City
0   John  25.0          NaN
1  Emily  28.0          NaN
2   Ryan  22.0          NaN
3  Emily   NaN  Los Angeles
4   Ryan   NaN      Chicago
5   Mike   NaN      Houston

### Task 5.2

You have two `Series` objects `s1` and `s2`. Make default mathematical operations on these two `Series` objects. Such as `+`, `-`, `*`, `/`, `**`, `//`, `%`. Also, filter `s1` and print only even numbers, and `s2` only with odd numbers.

In [43]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

In [44]:
sum_s1 = s1 + s2
print(sum_s1)

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [45]:
substraction = s2 - s1
print(substraction)

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [46]:
multiplier = s1.multiply(s2)
print(multiplier)

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [47]:
divison = s2.divide(s1)
print(divison)

0    6.000000
1    3.500000
2    2.666667
3    2.250000
4    2.000000
dtype: float64

In [48]:
power = s1.pow(s2)
print(power)

0          1
1        128
2       6561
3     262144
4    9765625
dtype: int64

In [49]:
result = s2.floordiv(s1)
print(result)

0    6
1    3
2    2
3    2
4    2
dtype: int64

In [50]:
mod = s2.mod(s1)
print(mod)

0    0
1    1
2    2
3    1
4    0
dtype: int64

In [51]:
filtered_s1 = s1[s1 % 2 == 0]
print(filtered_s1)

1    2
3    4
dtype: int64

In [52]:
filtered_s1 = s1[s1 % 2 == 1]
print(filtered_s1)

0    1
2    3
4    5
dtype: int64

### Task 5.3

You have a `Serias` object `s`. Make the following operations on this `Series` object:

* make all words in uppercase without loops;
* get length of each word without loops.

In [53]:
s = pd.Series(["numpy", "pandas", "matplotlib"])

In [54]:
uppercased = s.str.upper()
print(uppercased)

0         NUMPY
1        PANDAS
2    MATPLOTLIB
dtype: object

In [55]:
len = s.str.len()
print(len)

0     5
1     6
2    10
dtype: int64

## Task 6 Optional

You have a large dataset consisting of a series of numbers. Your task is to calculate the moving average of the series using a window of `5` elements. The moving average is the average of a set of consecutive values in the series, where the window `slides` through the series to compute the average at each position. The goal is to calculate the moving average efficiently and accurately. Also, compare time performance of Python and Pandas solutions.

> Please, note: If you get `nan` while calculating the moving average, you should remove it from the result. Pandas solution should take 1-2 lines of code.

### Python Solution

In the Python solution, a large dataset is generated using random numbers. The moving average is computed by iterating over the dataset using a loop. At each position, a window of 5 elements is created, and the average is calculated by summing the values in the window and dividing by 5.

In [56]:
import random

def unknown_signature():
    # Generate a large dataset
    data = [random.randint(1, 100) for _ in range(10000000)]

    # Calculate the moving average with a window of 5
    moving_averages = []
    for i in range(4, len(data)):
        window = data[i - 4 : i + 1]
        average = sum(window) / 5
        moving_averages.append(average)
    return moving_averages[:10]

%time unknown_signature()

TypeError: 'Series' object is not callable

### Solution using Pandas and Numpy

In [57]:
# write your code here